/*Variables*/
:root {
    --ff-logo: 'Noto Serif', serif;

    /*Colores*/
    --clr-blanco: #ffffff;
}
/*Reseteo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {/*Resetear 1rem = 10px*/font-size: 62.5%;}
body {
    width: 100vw;
    font-size: 1rem;
}
h1 {font-size: 3.5rem;}
p {font-size: 1.5rem;}
a {text-decoration: none;}
li {list-style: none;}
ul {
    padding: 0;
    margin: 0;
}
/*Utilidades*/
/*Header*/
.header {
    max-width: 100%;
    min-width: 375px;
}
/*Navegacion*/
.navegacion__enlaces {
    text-align: center;
    line-height: 2rem;
}
.navegacion__enlaces li {
    padding: 4px 0;
}
.navegacion__enlaces li > a {
    color: var(--clr-blanco);
}
.navegacion__enlaces li:nth-child(even) {
    background-color: #1f2325;
}
/*Logo*/
.logo {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.logo__marco {
    width: 2.8rem;
    height: 2.8rem;
    border: 0.1rem solid white;
    transform: rotate(50deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__imagen {
    transform: rotate(-50deg);
}
.logo__imagen img {
    width: 20px;
    height: 20px;
}
.logo__texto {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    font-family: var(--ff-logo);
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: red;
}
.logo__texto--thin {
    font-weight: 100;
    font-size: 3rem;
    color: white;
    margin-left: .2px;
}
/*Hero*/
.hero {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: center;
    text-align: center;
    padding: 4rem;
}
.hero__img {
    width:300px;
    height: 250px;
    border: .4rem solid black;
}
.hero__texto {
    width: 100%;
}
.hero__boton {
    border: none;
    background-color: yellow;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding: 1.8rem;
}
.galeria {
    background-color: grey;
    height: 50rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galeria h2 {
    font-weight: bold;
    font-size: 4rem;
}
@media (min-width: 480px) {
    /*Header.*/
    .header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        background-color: #212529;
        padding: 0 5rem;
    }
    .boton-header {
        display: none;
    }
    /*Navegacion*/
    .navegacion:not(.show) {
        display: block;
    }
    .navegacion__enlaces {
        display: flex;
        justify-content: space-between;
        column-gap: 6rem;
        font-size: 1.8rem;
    }
    .navegacion__enlaces li > a:hover {
        text-decoration: underline;
        text-shadow: 0px 0px 10px white;
    }
    .navegacion__enlaces li:nth-child(even) {
        background-color: #212529;
    }
    /*Logo*/
    .logo__texto {
        font-size: 6.5rem;
    }
    .logo__texto--thin {
        font-size: 5rem;
    }
    .logo__marco {
        width: 5rem;
        height: 5rem;
    }
    .logo__imagen img {
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 1200px) {
    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background-color: #212529;
        padding: 0 5rem;
    }
}