/*Variables*/
:root {
    --ff-logo: 'Noto Serif', serif;

    /*Colores*/
    --clr-blanco: #ffffff;
}
/*Reseteo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {/*Resetear 1rem = 10px*/font-size: 62.5%;}
body {
    width: 100vw;
    font-size: 1rem;
}
a {text-decoration: none;}
li {list-style: none;}
ul {
    padding: 0;
    margin: 0;
}
/*Utilidades*/
/*Header*/
.header {
    max-width: 100%;
    min-width: 375px;
}
/*Navegacion*/
.navegacion__enlaces {
    text-align: center;
    line-height: 2rem;
}
.navegacion__enlaces li {
    padding: 4px 0;
}
.navegacion__enlaces li > a {
    color: var(--clr-blanco);
}
.navegacion__enlaces li:nth-child(even) {
    background-color: #1f2325;
}
/*Logo*/
.logo {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.logo__marco {
    width: 2.8rem;
    height: 2.8rem;
    border: 0.1rem solid white;
    transform: rotate(50deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__imagen {
    transform: rotate(-50deg);
}
.logo__imagen img {
    width: 20px;
    height: 20px;
}
.logo__texto {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    font-family: var(--ff-logo);
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: red;
}
.logo__texto--thin {
    font-weight: 100;
    font-size: 3rem;
    color: white;
    margin-left: .2px;
}