/*Variables*/
:root {
  /*Fuente*/
  --ff-principal: "Poppins", sans-serif;
  --ff-logo: "Noto Serif", serif;
  /*Colores*/
  --clr-blanco: #ffffff;
  --clr-rojo: #d43030;
  /*Iconos*/
  --icon-whatsapp: "\f232";
  --icon-instagram: "\f16d";
  --icon-email: "\f1d8";
}
/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*Resetear 1rem = 10px*/
  font-size: 62.5%;
}
body {
  font-family: var(--ff-principal);
  font-size: 1rem;
}
h1, h2 {
    font-weight: bold;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
p {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
/*Utilidades*/
.barra {
  background-color: black;
}
.icon {
    font-size: 1.6rem;
}
.border {
    border: .1rem solid white;
}
/*Navegacion*/
.navegacion__link {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: var(--clr-blanco);
}
.navegacion__link--clr-secondary {
  background-color: #427791;
}
/*Logo*/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-family: var(--ff-logo);
}
.logo__marco {
  width: 2.8rem;
  height: 2.8rem;
  border: 0.1rem solid white;
  transform: rotate(50deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__imagen {
  transform: rotate(-50deg);
}
.logo__imagen img {
  width: 20px;
  height: 20px;
}
.logo__texto {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  font-family: var(--ff-logo);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: red;
}
.logo__texto--thin {
  font-weight: 100;
  font-size: 3rem;
  color: white;
  margin-left: 0.2px;
}
/*Hero*/
.hero {
  text-align: center;
}
.hero__img {
  max-width: 300px;
  width: 100%;
  height: 250px;
  border: 0.4rem solid black;
  object-fit: cover;
}
.hero__boton {
  height: 6rem;
  border: none;
  background-color: royalblue;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  width: 95%;
  margin: 2rem auto;
}
/*Galeria*/
.galeria {
  background-color: grey;
  padding: 1rem;
  text-align: center;
}
.galeria__img {
    max-width: 500px;
    height: 40rem;
    object-fit: cover;
    margin: 0 auto;
}
/*Tienda*/
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.producto__formulario {
  margin-top: 1rem;
}
.producto__descripcion {
  background-color: rgb(223, 223, 223);
  padding: 2rem;
  border-radius: 8px;
}
.producto__imagen {
  width: 20rem;
}
.producto__selector {
  width: 3rem;
  height: 3rem;
}

.tienda__informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  margin: 20px;
}
/*Nostros*/
.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
}
.nosotros img {
  width: 20rem;
}
/*Footer*/
.icon::before {
  font: var(--fa-font-brands);
  font-size: 2rem;
  padding-right: 1rem;
  color: var(--clr-rojo);
}
.icon-wp::before {
  content: var(--icon-whatsapp);
}
.icon-ig::before {
  content: var(--icon-instagram);
}
.icon-email::before {
  font: var(--fa-font-regular);
  content: var(--icon-email);
  font-size: 2rem;
}

@media (min-width: 468px) {
  .navegacion__link--clr-secondary {
    background-color: black;
  }
  /*Header.*/
  .barra {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  .boton-header {
    display: none;
  }
  /*Navegacion*/
  .contenedor-nav:not(.show) {
    display: block;
  }
  .contenedor-nav {
    width: 100%;
  }
  .navegacion__enlaces {
    display: flex;
    justify-content: space-evenly
  }
  .navegacion__link:hover  {
    text-decoration: underline;
    text-shadow: 0px 0px 10px white;
  }
  /*Logo*/
  .logo__texto {
    font-size: 4.8rem;
  }
  .logo__texto--thin {
    font-size: 3.8rem;
  }
  .logo__marco {
    width: 5rem;
    height: 5rem;
  }
  .logo__imagen img {
    width: 4rem;
    height: 4rem;
  }
  /*Nosotros*/
  .nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
  }
  .nosotros img {
    width: 50rem;
  }
  /*Tienda*/
  .tienda__informacion p {
    width: 500px;
  }
}

@media (min-width: 768px) {
  /*Barra*/
  .barra {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  }
  .navegacion__enlaces {
    justify-content: space-between;
    max-width: 50rem;
  }
  /*Hero*/
  .hero__img {
    width: 40rem;
    height: 40rem;
  }
  .hero__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
  }
  .hero__texto {
    width: 40%;
    font-size: 2rem;
  }
  .hero__boton {
    width: 40%;
    display: block;
    margin: 2rem auto;
  }
  .hero__img {
    width: 40rem;
    height: 30rem;
  }
}