.contacto {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

//.formulario {
//  background-color: black;
//  color: white;
//  text-transform: uppercase;
//  width: 90%;
//  padding: 1.5rem;
//  font-size: 1.2rem;
//  margin: 2rem 0;

//  .formulario__boton {
//    @include boton($ancho: 100%);
//    margin: 0 auto;
//  }
//}

//input,
//textarea {
//  display: block;
//  width: 100%;
//  margin-bottom: 2rem;
//}

//textarea {
//  resize: none;
//}

.informacion {
  color: $clr_principal;
  text-align: center;
  padding: 2rem;
  .redes__titulo {
    font-size: 2.5rem;
  }

  .redes__enlaces {
    font-size: 1.8rem;
  }

  .informacion__mapa {
    max-width: 45rem;
    width: 100%;
    border: 1px solid $clr_principal;
  }
}

@media (min-width: 768px) {
  .contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
    margin: 2rem auto;
    .contacto__titulo {
      width: 100%;
      font-size: 4rem;
      font-weight: bold;
    }
  }

  .formulario {
    width: 50%;
    margin: 1rem auto;
  }
}
