.cursos {
  text-align: center;

  .cursos__titulo {
    font-weight: bold;
    font-size: 3rem;
  }
  .cursos__descripcion {
    font-size: 1.8rem;
  }
}

select {
  display: block;
  margin-bottom: 2rem;
}

.form-cursos {
  margin: 2rem auto;
}