.formulario {
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: 90%;
  padding: 1.5rem;
  font-size: 1.2rem;
  margin: 2rem 0;

  .formulario__boton {
    @include boton($ancho: 100%);
    margin: 0 auto;
  }

  input,
  textarea,
  select {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }

  textarea {
    resize: none;
  }

  .formulario__opciones {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
}
