.galeria {
  height: 100vh;
  background-color: $clr-negro;
  
  .contenedor__articulos {
    height: 100%;
    overflow: hidden;
    
    &::-webkit-scrollbar {
      display:none;
    }
  }
  
  
  .articulo {
    height: 100%;
    color: white;
    text-align: center;
    padding: 2rem;
      
    
    
    .articulo__titulo {
      font-size: 3rem;

    }
    
    .articulo__imagen {
      width: 100%;
      height: 100%;
      max-height: 15rem;
      margin: 2rem 0;
      object-fit: contain;
    }
    
    .articulo__texto {
      font-size: 1.5rem;
      line-height: 2rem;
      width: 90%;
      margin: 1px auto;
      background-color: rgba(128, 128, 128, 0.226);
      border-radius: 8px;
      padding: .8rem;
    }
    
    .articulo__index {
      font-size: 2rem;
      text-align: left;
    }
    
  }

  .articulo--final {
    .articulo__texto {
      font-size: 1.5rem;
      margin: 3rem 0;
    }
  }
}

@media (min-width: 768px) {
  .articulo {
    display: grid;
    grid-template-areas: 
      "articulo__index articulo__titulo articulo__titulo"
      "articulo__texto articulo__imagen articulo__imagen"
      "articulo__navegacion articulo__navegacion articulo__navegacion";
    
    .articulo__index {
      grid-area: articulo__index;
    }
    .articulo__titulo {
      grid-area: articulo__titulo;
      text-align: center;
    }
    .articulo__texto {
      grid-area: articulo__texto;
      margin: auto 2rem;
      font-size: 2rem;
    }
    .articulo__imagen  {
      grid-area: articulo__imagen;
    }
  }

  .articulo__navegacion {
    grid-area: articulo__navegacion;
  }
}


.izquierda {
  background: none;
  grid-area: izquierda;
  &::before {
    font: var(--fa-font-solid);
    content: "\f061";
    font-size: 3rem;
    color: $clr-principal;
  }
  
  &:hover {
    cursor: pointer;
  }
  
}
.derecha {
  background: none;
  &::before {
    font: var(--fa-font-solid);
    content: "\f060";
    font-size: 3rem;
    color: $clr-principal;
  }
  
  &:hover {
    cursor: pointer;
  }
  
}

.articulo__navegacion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}