.galeria {
  height: 100vh;
  background-color: $clr-negro;
  
  .contenedor__articulos {
    height: 100%;
    overflow: hidden;
    
    &::-webkit-scrollbar {
      display:none;
    }
  }
  
  
  .articulo {
    height: 90%;
    color: white;
    text-align: center;
    padding: 2rem;
      
    
    
    .articulo__titulo {
      font-size: 2rem;
    }
    
    .articulo__imagen {
      width: 100%;
      margin: 4rem 0;
      object-fit: contain;
    }
    
    .articulo__texto {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
    
    
  }

  .articulo--final {
    .articulo__texto {
      font-size: 1.5rem;
      margin: 3rem 0;
    }
  }
}

@media (min-width: 768px) {
  .articulo {
    display: grid;
    grid-template-areas: 
      "articulo__index articulo__titulo articulo__titulo"
      "articulo__texto articulo__texto articulo__imagen";
    
    .articulo__index {
      grid-area: articulo__index;
    }
    .articulo__titulo {
      grid-area: articulo__titulo;
    }
    .articulo__texto {
      grid-area: articulo__texto;
      margin: auto 2rem;
    }
    .articulo__imagen  {
      grid-area: articulo__imagen;
    }
  }
}


.articulo__boton {
  background: none;
  &::before {
    font: var(--fa-font-solid);
    content: "\f063";
    font-size: 2rem;
    color: white;
  }
  
  &:hover {
    cursor: pointer;
    background-color: $clr-principal;
  }
  
}
