.logo {
  .logo__texto {
    font-size: 3.5rem;
    font-weight: 300;
    .logo__texto--grande {
      font-size: 4rem;
      font-weight: bold;
      color: $clr-principal;
    }
  }
}

@media (min-width: 768px) {
  .logo {
    .logo__texto {
      font-size: 5rem;

      .logo__texto--grande {
        font-size: 5.5rem;
      }
    }
  }
}

.logo--negro {
  color: $clr-negro;
}
