.compra {
    height: 80vh;
    margin: 0 auto;
    background-image: url(../img/tienda-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .compra__contenedor {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 2rem;
      .compra__titulo {
        font-size: 5rem;
        font-weight: bold;
        color: white;
        text-shadow: 0px 0px 10px $clr-principal;
    }
      .compra__boton {
        background-color: $clr-principal;
        border: none;
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: bold;
        padding: 1.4rem;
        width: 50%;
      }
    }

    
}


/*Tienda*/
.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .producto__formulario {
    margin-top: 1rem;
  }
  .producto__descripcion {
    background-color: rgb(223, 223, 223);
    padding: 2rem;
    border-radius: 8px;
  }
  .producto__imagen {
    width: 20rem;
  }
  .producto__selector {
    width: 3rem;
    height: 3rem;
  }
  
  .tienda__informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin: 20px;
  }