.compra {
  height: 80vh;
  margin: 0 auto;
  background-image: url(../img/tienda-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .compra__contenedor {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2rem;
    .compra__titulo {
      font-size: 5rem;
      font-weight: bold;
      color: white;
      text-shadow: 0px 0px 10px $clr-principal;
    }
    .compra__boton {
      @include boton($ancho: 50%);
    }
  }
}

.tienda {
  text-align: center;
  background-color: $clr-negro;
  padding: 1rem;
  color: $clr-blanco;

  .tienda__titulo {
    font-size: 3rem;
    font-weight: bold;
  }

  .tienda__texto {
    font-size: 1.5rem;
  }

  .tienda__informacion {
    font-size: 2rem;
    font-weight: bold;
    color: $clr-principal;
  }
}

.producto {
  text-align: center;

  .producto__imagen {
    max-width: 20rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .tienda {
    .tienda__titulo {
      font-size: 4rem;
    }

    .tienda__texto {
      font-size: 1.5rem;
    }

    .tienda__informacion {
      font-size: 2.5rem;
    }
  }
}
