/*Fuente*/
$ff-principal: "Poppins", sans-serif;
$ff-logo: "Noto Serif", serif;

/*Colores*/
$clr-blanco: #ffffff;
$clr-rojo: #d43030;

/*Iconos*/
$icon-whatsapp: "\f232";
$icon-instagram: "\f16d";
$icon-email: "\f1d8";
